[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "==19.10b0"
isort = "*"
pylint = "*"
rope = "*"

[packages]
click = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"

[scripts]
debug = "python -m pdb -c continue umldotcs/__main__.py ./test/ -o debug.gv"
githook_pre_commit = "black --line-length 100 --target-version py36 --quiet --check ."
lint = "python -m scripts.lint"
test = "python -m pytest --cov-branch --cov-report term-missing:skip-covered --cov=umldotcs"
