[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
gitpython = "*"
isort = "*"
pylint = "*"
rope = "*"

[packages]
black = "==22.8.0"
click = "*"
iniconfig = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[scripts]
black_ci = "black --line-length 100 --target-version py38 --check ."
black_git = "black --line-length 100 --target-version py38 --quiet --check ."
check = "python -m umldotcs -l \"Check UML diagram\" -o ./gv/check.gv -u https://github.com/kthy/uml.cs/blob/main/tests/sln ./tests/sln/"
debug = "python -m pdb -c continue umldotcs/__main__.py -l \"Debug Diagram\" -o debug.gv tests/sln/"
lint = "python -m scripts.lint"
test = "python -m pytest --cov-branch --cov-report term-missing:skip-covered --cov=umldotcs"
